@charset "utf-8";

@media screen and (max-width: 992px) and (min-width: 768px) {


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #A6A6A6;
}

header {
    background-color: #404040;
    margin-bottom: 10px;
}

header > h1 {
    text-align: center;
    padding: 10px;

}

menu {
    display: block;
}

li {
    font-size: 18px;
    display: block;
    list-style-type: none;
}

menu > ul > a {
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: white;
    border: 1px solid white;
    background-color: #504f4f;
}

menu > ul > a:hover {
    background-color: #757474;
}



main {
    width: 450px;
    margin: auto;
    height: 550px;
    border-radius: 10px;
    background-color: white;
}

article {
    padding: 10px;
    text-align: justify;
    line-height: 20px;
}


main h2 {
    padding: 10px;
}
    
}

@media screen and (max-width: 1200px) and (min-width: 992px) {


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #A6A6A6;
}

header {
    background-color: #404040;
    margin-bottom: 10px;
}

header > h1 {
    text-align: center;
    padding: 10px;

}

menu {
    display: block;
}



i#sis {
    display: none;
    padding-bottom: 10px;
}

li {
    font-size: 18px;
    display: inline-block;
    list-style-type: none;
}

a {
    margin-right: 10px;
}

menu > ul > a {
    padding-top: 15px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    border: 1px solid white;
    background-color: #504f4f;
}

menu > ul > a:hover {
    background-color: #757474;
}



main {
    width: 450px;
    margin: auto;
    height: 550px;
    border-radius: 10px;
    background-color: white;
}

article {
    padding: 10px;
    text-align: justify;
    line-height: 20px;
}


main h2 {
    padding: 10px;
}
    
}