@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#a1a1a1;
}

.fisic {
    text-align: justify;
    margin: 10px;
}

header {
    border-radius: 5px;
    background-color: #D9D9D9;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
}

main {
    border-radius: 5px;
    margin: 10px;
    background-color: #A6A6A6;
    margin-right: 20px;
    padding: 10px;
    margin-left: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
}


#center {
    text-align: center;
    padding-top: 20px;
}

nav > a {
    margin-right: 12px;
}

a:hover {
    color: yellow;
}

a {
    color: white;
}

footer {
    border-radius: 5px;
    margin: 20px;
    background-color: #595959;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
}

nav {
    
    background-color: #595959;
}

article {
    background-color: #595959;
}
