@charset "UTF-8"; 

@font-face {
    font-family: 'titulo';
    src: url(fontes/Cilok\ There.otf);
    font-weight: 90px;
    font-style: normal;
}

@font-face {
    font-family: 'sub-titulo';
    src: url(fontes/TheJhony.ttf);
    font-weight: 20px;
    font-style: normal;
}

header > h2 {
    line-height: 65px;
    padding-top: 35px;
    color: white;
    margin: auto;
    font-family: 'titulo';
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

header > p {
    margin: 0px;
    text-decoration: none;
    padding-bottom: 35px;
    color: white;
    font-family: 'sub-titulo';
    text-align: center;
    font-size: 20px;
}

body {
    margin: 0px;
}
header {
    background-color: black;
    margin: 0px;
    max-height: 250px;
}

article {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 18px;
    
}
.branco {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 25px;
    line-height: 25px;
    
}
.subbranco {
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 5px;
}
.preto {
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    backface-visibility: ;
    color: white;
    background-color: rgb(48, 47, 47);
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 25px;
    line-height: 25px;
}
.subpreto {
    background-color: rgba(0, 0, 0, 0.527);
    width: 300px;
    padding: 5px;
}
#ultimo {
    box-shadow: 0px 5px 10px black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
main {

}

article > p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

footer {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: auto;
    background-color: black;
    width: 200px;
    color: white;
    margin-top: 40px;
    box-shadow: 0px 0px 10px black;
}

footer > p {
    padding-top: 4px;
    padding-bottom: 1px;
    text-align: center;
    margin: 0px;
}