@charset "utf-8"; 

@media screen and (max-width: 992px) and (min-width: 768px){

    body {
        background-color: black;
        background-image: url(../imagens/back-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100vw;
        height: 100vh;
    }

    img {
        margin: auto;
    }
    
    img#phone {
        display: none;
    }
    
    img#tv {
        display: none;
    }
    img#tablet {
        display: block;
    }
    img#pc {
        display: none;
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px){

    body {
        background-color: black;
        background-image: url(../imagens/back-pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100vw;
        height: 100vh;
    }

    img {
        margin: auto;
    }
    
    img#phone {
        display: none;
    }
    
    img#tv {
        display: none;
    }
    img#tablet {
        display: none;
    }
    img#pc {
        display: block;
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px){

    body {
        background-color: black;
        background-image: url(../imagens/back-pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100vw;
        height: 100vh;
    }

    img {
        margin: auto;
    }
    
    img#phone {
        display: none;
    }
    
    img#tv {
        display: none;
    }
    img#tablet {
        display: none;
    }
    img#pc {
        display: block;
    }
}

@media screen and (min-width: 1200px){

    body {
        background-color: black;
        background-image: url(../imagens/back-tv.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100vw;
        height: 100vh;
    }

    img {
        margin: auto;
    }
    
    img#phone {
        display: none;
    }
    
    img#tv {
        display: block;
    }
    img#tablet {
        display: none;
    }
    img#pc {
        display: none;
    }
}